<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/css/main.css" rel="stylesheet">

    <title>Technical test Ben</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Daftar Buku</a></li>
        <li><a href="/category/add">Tambah Kategori Buku</a></li>
        <li><a href="/book/add">Tambah Buku</a></li>
      </ul>
    </nav>
    <div class="container">
    <%- body %>
    </div>
  </body>
</html>
